/*.py
/*.txt
/Images
/Releases
/ToDoList.md
/Euphoria Backstory.md
/Euphoria Quest Ideas.md
/Euphoria Reputation Progression.md
/Weapon Attachment Guide.md
/InsertToAssort.json
/Item IDs for Trader.json
/Item IDs.json
/Trader Assort.json
